.modal {
    max-height: 219px;
    padding: 5px;
}

.chip {
    font-size: 13px;
    line-height: 26px;
    font-family: monospace;
    font-weight: bolder;
}


.custom-select {
    display: inline-block;
    width: 100%;
    height: calc(1.2em + .75rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.custom-select-lg {
    height: calc(1.5em + 1rem + 2px);
    font-weight: 600;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

[data-kw]  {
    border-color: #a6e22d!important;
    border: 1px solid;
}

[data-kw]:after {
    background: #a6e22d;
    text-transform: uppercase;
    box-sizing: border-box;
    content: attr(data-kw);
    padding: 3px 5px;
    margin-left: 4px;
    border-radius: 5px;
    font-size: 10px;
    font-weight: bold;
}

[data-en]  {
    border-color: #e22dcc80!important;
    border: 1px solid;
}

[data-en]:after {
    background: #e22dcc80;
    text-transform: uppercase;
    box-sizing: border-box;
    content: attr(data-en);
    padding: 3px 5px;
    margin-left: 4px;
    border-radius: 5px;
    font-size: 10px;
    font-weight: bold;
}

[data-in]  {
    border-color: #00bcd4!important;
    border: 1px solid;
}

[data-in]:after {
    background: #00bcd4;
    text-transform: uppercase;
    box-sizing: border-box;
    content: attr(data-in);
    padding: 3px 5px;
    margin-left: 4px;
    border-radius: 5px;
    font-size: 10px;
    font-weight: bold;
}

[data-ei]  {
    border-color: #00d468!important;
    border: 1px solid;
}

[data-ei]:after {
    background: #00d468;
    text-transform: uppercase;
    box-sizing: border-box;
    content: attr(data-ei);
    padding: 3px 5px;
    margin-left: 4px;
    border-radius: 5px;
    font-size: 10px;
    font-weight: bold;
}

[data-ki]  {
    border-color: #ffc107e6!important;
    border: 1px solid;
}

[data-ki]:after {
    background: #ffc107e6;
    text-transform: uppercase;
    box-sizing: border-box;
    content: attr(data-ki);
    padding: 3px 5px;
    margin-left: 4px;
    border-radius: 5px;
    font-size: 10px;
    font-weight: bold;
}

[data-ke]  {
    border-color: #fd7e14!important;
    border: 1px solid;
}

[data-ke]:after {
    background: #fd7e14;
    text-transform: uppercase;
    box-sizing: border-box;
    content: attr(data-ke);
    padding: 3px 5px;
    margin-left: 4px;
    border-radius: 5px;
    font-size: 10px;
    font-weight: bold;
}

[data-kei]  {
    border-color: #6f42c1!important;
    border: 1px solid;
}

[data-kei]:after {
    background: #6f42c1;
    text-transform: uppercase;
    box-sizing: border-box;
    content: attr(data-kei);
    padding: 3px 5px;
    margin-left: 4px;
    border-radius: 5px;
    font-size: 10px;
    font-weight: bold;
}

#searchIcon {
    position: absolute;
    margin-top: 20px;
    cursor: pointer;
}


#tagElementType option {
    font-weight: normal!important;
    display: block!important;
    white-space: pre!important;
    min-height: 1.2em!important;
    padding: 0px 2px 1px!important;
    border-radius: 5px!important;
}

